* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.product__card {
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.product__card-image {
    position: relative;
    

}

.product__card-image img {
    display: inline;
    height: 350px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}


.product__card-image h2 {
    position: absolute;
    top: 10px;
    margin-left: 10px;
    background: #4e342e ;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.2rem;
}

.product__card-image p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 2rem;
}


.product__card-icons {
    position: relative;
    bottom: 28px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.product__card-icons a {
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    background: red;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 20px;
}

.product__card-icons a:first-child {
    background: #fff;
    color: #444;
}

.product__card-icons a:nth-child(2) {
    background: rgb(185, 46, 46);
    color: #fff;
}


.product__card-icons a:last-child {
    background: rgb(41, 101, 199);
    color: #fff;
}

.product__card-content {
    margin: 0 15px 10px 15px;
}

.product__card-content b {
    color: #555;
    
}

.product__card-content p {
    color: #333;
    margin-top: 10px;
    line-height: 25px;
}

.product__card-tags {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 30px 10px;  
}

.product__card-tags a {
    padding: 10px 20px ;
    text-decoration: none;
    color: #513e3e;
    margin: 0  10px 10px 0;
    border-radius: 30px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    background: #e4e4e4;
    font-size: 12px;
}