* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: sans-serif;
    background: #c74848;


}

h2 {
    color: rgb(104, 97, 97);
    font-weight: 600;
    font-size:  1.2rem;
}

p {
    font-size: 14px;
    color: #ccc;
}

img {
    height: 280px;
}



.product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1.2rem;
    margin: 0 3rem;
}


/*  product content Left */


.product__left {
    height: 420px;
    background: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;


}
.product__left .product__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product__left .product__content p {
    text-align: center;
    margin: 2rem 1rem 0 1rem;


}

/*  product content Center */

.product__center {
    height: 420px;
    background: #fff;
    display: flex;
    flex: 2;

}

.product__center img {
    height: auto;
    width: 40%;
}

.product__center .product__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;

}

.product__center .product__content p {
    text-align: justify;
    margin-right: 1rem;
}

.product__center .product__content span {
    color: red;
    font-size: .8rem;

}

.product__center .product__content b {
    font-size: .8rem;
    color: #555;
}

.product__center .product__content button {
    padding: 10px;
    background: transparent;
    border: 1px solid #555;
    cursor: pointer;
    font-weight: 600;
    color: #666;
}


/*  product content Right */


.product__right {
    height: 420px;
    background: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product__right .product__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product__right .product__content p {
    text-align: center;
    margin: 2rem 1rem 0 1rem;

}